<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <input type="text" name="" id="" placeholder="email"> <br>
        <input type="text" placeholder=" senha">
        <button type="submit"> confirmar</button>
    </form>

    <a href="{{url_for('contatos')}}">url para contatos</a>


    <h1> Bem vindo {{usuario}}</h1>
    <h2> tenho {{idade}} anos </h2>

    <h3>bem vindo {{dados.usuario}} vc tem {{dados.idade}} anos</h3>
</body>  
</html>